<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoShop</title>
    <link rel="shortcut icon" href="../picture/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/repairinfo.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('nav.ejs', {addpart: addpart, addcustomer: addcustomer, addsupplier: addsupplier, addrepair: addrepair}) -%>;
    <div class="mainmainbox">
        <div class="mainbox">
          <h1>Repairs</h1>
            <div class="secondbox">
              <div>
                <% 
                  let repairID = null;
                  let customerID = null;
                  if (rp_one.repairID < 10) repairID = '0' + rp_one.repairID;
                  else repairID = rp_one.repairID;

                  if (cm_one.customerID < 10) customerID = '000' + cm_one.customerID;
                  else if (cm_one.customerID < 100) customerID = '00' + cm_one.customerID;
                  else if (cm_one.customerID < 1000) customerID = '0' + cm_one.customerID;
                  else customerID = cm_one.repairID;
                %> 
                <p>RepairID: <%= repairID %></p>
                <p>SparePartID: <%= rp_one.spareID %> is <%= sp_one.name %></p>
                <p>CustomerID: <%= customerID %> is <%= cm_one.name %></p>
                <p>CarCode: <%= cm_one.carcode %> </p>
                <p>MechanicName: <%= rp_one.mechanicName %></p>
                <a href="/repairs">Back</a>
              </div>
            </div>
        </div>
    </div>
    <video autoplay muted loop src="../picture/move.mp4" type="video/mp4"></video>
  </body>
</html>

