<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoShop</title>
    <link rel="shortcut icon" href="./picture/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/repairs.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('nav.ejs', {addpart: addpart, addcustomer: addcustomer, addsupplier: addsupplier, addrepair: addrepair}) -%>;
    <div class="mainmainbox">
        <div class="mainbox">
          <h1>Repairs</h1>
            <div class="secondbox">
                <div>
                  <div class="boxid2">
                    <table>
                      <td><a>RepairsID</a></td>
                      <td><a>Customer</a></td>
                      <td><a>CarCode</a></td>
                      <td><a>Mechanic</a></td>
                    </table>
                  </div>
                    <% for (let i = 0; i < rp.length; i++) { %>
                    <div class="item">
                        <div class="boxid">
                          <table>
                            <% 
                              let repairID = null;
                              if (rp[i].repairID < 10) repairID = '0' + rp[i].repairID;
                              else repairID = rp[i].repairID;
                            %> 
                            <td><a><%= repairID %></a></td>
                            <td><a><%= cm[i].name %></a></td>
                            <td><a><%= cm[i].carcode %></a></td>
                            <td><a><%= rp[i].mechanicName %></a></td>
                          </table>
                        </div>
                        <div class="boxbtn">
                            <a href="/repairinfo/<%= rp[i].repairID %>">view</a>
                            <a href="/deleterepair/<%= rp[i].repairID %>">x</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <video autoplay muted loop src="./picture/move.mp4" type="video/mp4"></video>
  </body>
</html>

