<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoShop</title>
    <link rel="shortcut icon" href="./picture/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/supplier.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('nav.ejs', {addpart: addpart, addcustomer: addcustomer, addsupplier: addsupplier, addrepair: addrepair}) -%>;
    <div class="mainmainbox">
        <div class="mainbox">
          <h1>Suppliers</h1>
            <div class="secondbox">
                <div>
                  <div class="boxid2">
                    <table>
                      <td><a>SupplierID</a></td>
                      <td><a>Name</a></td>
                      <td><a>Address</a></td>
                    </table>
                  </div>
                  <% for (let i = 0; i < spl.length; i++) { %>
                    <div class="item">
                      <div class="boxid">
                        <table>
                          <% 
                            let supplierID = null;
                            if (spl[i].supplierID < 10) supplierID = '00' + spl[i].supplierID;
                            else if (spl[i].supplierID < 100) supplierID = '0' + spl[i].supplierID;
                            else supplierID = spl[i].supplierID;
                          %> 
                          <td><a><%= supplierID %></a></td>
                          <td><a><%= spl[i].name %></a></td>
                          <td><a><%= spl[i].address %></a></td>
                        </table>
                      </div>
                      <div class="boxbtn">
                          <a href="/supplierinfo/<%= spl[i].supplierID %>">view</a>
                          <a href="/deletesupplier/<%= spl[i].supplierID %>">x</a>
                      </div>
                  </div>
                  <% } %>
                </div>
            </div>
        </div>
    </div>
    <video autoplay muted loop src="./picture/move.mp4" type="video/mp4"></video>
  </body>
</html>

